<html>
  <h2 class="center">Products</h2>

  <hr />

  <div class="container row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="product" id="name" type="text" class="validate"></input>
        </div>
        <div class="input-field col s6">
          <input placeholder="$" id="price" type="text" class="validate">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="description" id="desc" type="text" class="validate">
          <button class="waves-effect waves-light btn" id="submit_button">Add</button>
        </div>
      </div>
      </div>
    </form>
  </div>

  <div class="container row">
    <ul id="product-list" class="container collection">
    </ul>
  </div>


<html>




